@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Teko:wght@300..700&display=swap');
@import './background.scss';

html,
body,
#root {
    height: 100%;
}

body {
    overflow-x: hidden;

    background: var(--bs-gray-900);

    &::-webkit-scrollbar {
        background-color: rgba(219, 219, 219, 1);
        width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--bs-secondary);
        border-radius: 5px;
    }


}

.contact-card {
    background: var(--bs-light);
    width: 3.5in;
    height: 2in;

    .branding {
        width: 40%;
    }

    .contact {
        padding: 18pt 8pt;
    }
}

.expand {
    align-self: stretch;
    flex-grow: 1;

    display: flex;

    .contact-card {
        align-self: stretch;
        flex-grow: 1;

        margin: auto;
        aspect-ratio: 3.5 / 2;
        width: auto;
        height: auto;
        max-width: 90vw;
        max-height: 90vh;
        min-width: 3.5in;
        min-height: 2in;
    }

    .edit-button {
        bottom: 0;
    }
}

.edit-button {
    position: absolute;
    left: 50%;
    bottom: -5rem;
    transform: translate(-50%, -50%);
    opacity: .1;
    transition: opacity .2s linear;

    &:hover {
        opacity: 1;
    }

    button {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (orientation: portrait) {
    .expand {
        .contact-card {
            transform: rotate(90deg);
            max-width: 90vh;
            max-height: 90vw;
        }
    }
}

@include media-breakpoint-up(sm) {
    .expand {
        .contact-card {
            .contact {
                padding: 22pt 10pt;
            }
        }

        .fs-18 {
            font-size: 22pt;
        }

        .fs-12 {
            font-size: 14pt;
        }

        .fs-10 {
            font-size: 13pt;
        }

        .fs-8 {
            font-size: 10pt;
        }
    }
}

@include media-breakpoint-up(md) {
    .expand {
        .contact-card {
            .contact {
                padding: 26pt 12pt;
            }
        }

        .fs-18 {
            font-size: 26pt;
        }

        .fs-12 {
            font-size: 17pt;
        }

        .fs-10 {
            font-size: 16pt;
        }

        .fs-8 {
            font-size: 12pt;
        }
    }
}

@include media-breakpoint-up(lg) {
    .expand {
        .contact-card {
            .contact {
                padding: 40pt 16pt;
            }
        }

        .fs-18 {
            font-size: 40pt;
        }

        .fs-12 {
            font-size: 22pt;
        }

        .fs-10 {
            font-size: 20pt;
        }

        .fs-8 {
            font-size: 16pt;
        }
    }
}

@include media-breakpoint-up(xl) {
    .expand {
        .contact-card {
            .contact {
                padding: 55pt 20pt;
            }
        }

        .fs-18 {
            font-size: 55pt;
        }

        .fs-12 {
            font-size: 30pt;
        }

        .fs-10 {
            font-size: 28pt;
        }

        .fs-8 {
            font-size: 20pt;
        }
    }
}

@include media-breakpoint-up(xxl) {
    .expand {
        .contact-card {
            .contact {
                padding: 60pt 24pt;
            }
        }

        .fs-18 {
            font-size: 60pt;
        }

        .fs-12 {
            font-size: 35pt;
        }

        .fs-10 {
            font-size: 33pt;
        }

        .fs-8 {
            font-size: 24pt;
        }
    }
}

.form-control {
    max-width: 30rem;

    &[type='color'] {
        padding: 0;
        overflow: hidden;
        cursor: pointer;
    }
}

.fs-18 {
    font-size: 18pt;
}

.fs-16 {
    font-size: 16pt;
}

.fs-14 {
    font-size: 14pt;
}

.fs-12 {
    font-size: 12pt;
}

.fs-10 {
    font-size: 10pt;
}

.fs-8 {
    font-size: 8pt;
}

.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
}

.teko,
label {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    line-height: 1;
}

.cls-1 {
    fill: #000000 !important;
}